.main {
    width: 100%;
    background: linear-gradient(270deg, #003974 0%, #000000 100%);
    min-height: 100vh;
    flex-wrap: wrap;

    color: white;
    padding: 20px;
.heading{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 90px;
line-height: 144px;
color: white;
padding: 10px;
}}