.probationmain {
  width: 100%;
  background: linear-gradient(270deg, #003974 0%, #000000 100%);
  min-height: 100vh;
  flex-wrap: wrap;

  color: white;
  padding: 20px;
  .heading {
    font-size: 4rem;
  }
  .card-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .card {
      width: 15rem;
      height: 20rem;
      background: rgba(255, 255, 255, 0.25);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(14px);
      -webkit-backdrop-filter: blur(14px);
      border-radius: 20px;
      .header-content {
        margin-top: 10px;
        margin-left: 10px;
      }
      .font-big {
        font-weight: 800;
      }
    }
  }
}
