.rolemaincontainer {
  color: white;
  width: 100%;
  padding-left: 30px;
  .heading {
    font-size: 4rem;
    font-weight: 500;
  }
  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;

    .rolecard {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 2px solid white;
      border-radius: 20px;
      background: rgba(255, 255, 255, 0.25);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(14px);
      -webkit-backdrop-filter: blur(14px);
      width: 12rem;
      margin: 10px;
      .heading {
        font-size: 1.3rem;
      }
      .stats {
        display: flex;
        width: 90%;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px 0;
        align-items: center;
        .stat {
          text-align: center;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
